body{
    margin: 0;
}

.highlight{

    color:red;
}
h1{
    font-size: 40px;
}

.half-width{
width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;

}
.half-width img{
    width: 80%;
}
.top-banner{
background-image: url("/images/top-banner.png");
background-repeat: no-repeat;

}
section{
    height: 500px;
}
.link{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2%;
    border-radius: 5px;
}